export(PowCon, PowConBinom, nPowCon,nPowConBinom, thetaPowCon, alphaPowCon)
exportClasses("Powerpoco")

importFrom("mvtnorm", pmvt, qmvt, rmvnorm)
importFrom("multcomp", contrMat)
importFrom("mratios", contrMatRatio)
importFrom("MCPAN", binomest)
S3method(print, Powerpoco)